.dashboardWrapper {
  width: 95%;
  height: 95vh;
  background: rgba(40, 40, 40, 0.6); 
  backdrop-filter: blur(10px);      
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.3);
  padding: 20px; 
  box-sizing: border-box;
}

.gridContainer {
  display: grid;
  height: 100%; 
  padding: 20px;
  gap: 20px;

  grid-template-columns: 1fr 1fr 1fr 1fr; /* 4열 */
  
  grid-template-areas:
    "header   header     header   header"
    "status   status     map      map"
    "controls1 controls2 map      map"
    "graph1    graph1    graph2   graph2";
    
  grid-template-rows: 0.1fr auto 1fr 1fr; 
}

.header {
  grid-area: header;
  height: 55px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.status {
  grid-area: status;
}

.control1 {
  grid-area: controls1;
}

.controls2 {
  grid-area: controls2;
}

.map {
  grid-area: map;
}

.graph1 {
  grid-area: graph1;
  height: 150px;
}

.graph2 {
  grid-area: graph2;
  height: 150px;
}

body {
  background: linear-gradient(to right top,#7bd389 0%, rgba(57, 114, 57, 0) 100%); /*그라데이션*/
  background-color: #2f3340;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #eaeef6;
}

.logo img{
  height: 100px;
  width: auto;
  display: block;  
}

.panel {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 24px 0 rgba(0, 7, 2, 0.37); /*그림자*/
  border-radius: 8px; 
  padding: 20px;
}
